<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TimeSync</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            {% load static %}
            <img src="{%static "timesync/img/logo.png" %}" width="30" height="30" class="d-inline-block align-top"
                alt="logo">
            TimeSync
        </a>
    </nav>
    <div class="container">
        <div id="app">
            <!-- React will load here -->
        </div>
    </div>
</body>
{% load static %}
<script src="{% static "timesync/main.js" %}"></script>

</html>